[2019-12-17 07:14] KOLANICH opened #4 "Replace all the javascript with html+css."
https://github.com/you-dont-need/You-Dont-Need-JavaScript

[2020-01-27 14:56] dblanchette commented on #4
This is very cool! It actually started out without Javascript, but we ended up using bootstrap as a time saving measure. If I find the time for it, I'll see what I can do to remove Javascript.

[2020-02-28 18:07] sw23 opened #8 "Recursive schema definitions result in infinite recursion"
Currently if you have a schema with a recursive definition, the code will spin on the recursion until hitting the max recursion limit.  Here's an example of a recursive schema definition:
[code]

I worked around this by hacking the code to stop resolving references after a certain depth, which is a fairly simple solution.  I think a better solution would be to catch when schemas reference a parent

[2020-03-16 22:11] dblanchette commented on #8
I like your suggestion! Actually, we wanted to do anchor links for a while and never got around to it, so that would be very nice.

Let me know if you intend to work on a PR, I may do something on my side otherwise.

[2020-03-17 13:39] sw23 commented on #8
Ok cool! I don't have a PR planned as of now.  I'll let you know if I circle back to it at some point

[2020-04-19 16:00] sw23 opened #9 "Problem resolving references across directory hierarchy"
I noticed an issue resolving reference, in cases where one schema has a reference to another in a different directory, and that schema then references a schema in the same (or other) directory.  All relative references should be resolved based on the referring schema's path, not the root schema's path (which is currently what's happening).

[2020-04-21 14:40] castellfr opened #11 ""Expand all" / "Collapse all" buttons ?"
Hi, very useful tool, thanks.
Is there any plan to add some buttons to expand/collapse the whole json schema structure in the output html?

[2020-04-21 16:32] dblanchette commented on #9
Fixed by #10

[2020-04-21 16:32] #9 closed

[2020-04-21 17:59] mrspacemankey opened #12 "Schema generation fails for top level array"
First of all, thanks for this great tool! It generates really nice documentation.

One thing I could not get to work is generate the correct HTML for schemas with top level array definitions, e.g. see below:

[code]

This should be valid json schema, but it generates the following output:
[code]

Which is just an empty template.

Is this case planned to be supported? If so, let me know if you need

[2020-04-21 18:07] dblanchette commented on #12
Hi! This use case was not needed for us, so we neglected it. It seems pretty easy to implement though. I will take a look.

[2020-04-21 18:37] dblanchette commented on #11
Hi!

Would that be the whole structure recursively or just the top level elements? I was able to add the whole structure by adding those buttons:

[code]

It works well with relatively small schemas, but with big ones it freezes the browser.

I could always add that as an option though

[2020-04-22 09:15] castellfr commented on #11
I think recursively for the whole thing as an option is great. Thanks !

[2020-04-22 12:12] mrspacemankey opened #14 "Add option to emit separate files for <head> and <body>"
Thanks for your support so far, I appreciate the effort.

I am working on including the generated HTML files in a documentation generated by `sphinx` (using reST).

The problem is, `sphinx` generates a wrapper HTML which already contains `<head>`. Since I include the generated HTML as-is, it causes problems since the document now has two heads. However, it is possible to handle adding additional i

[2020-04-22 18:15] dblanchette commented on #14
Hi @mrspacemankey,

We actually have the exact same use case. The problem for us was that beyond having two heads, the CSS from sphinx would clash with the one from bootstrap and from json-schema-for-humans.

Even though it is often seen as bad practice, we got the results we wanted with an iframe
[code]

That being said, I'm open to other ways of outputting the result!

[2020-04-22 19:58] dblanchette commented on #11
Released in version 0.5

[2020-04-22 19:58] #11 closed

[2020-04-22 19:59] dblanchette commented on #12
Fix released in version 0.5

[2020-04-22 19:59] #12 closed

[2020-04-23 08:03] mrspacemankey opened #15 "Broken generation for 0.5"
Hi @dblanchette ,

I have run into the following issue with the new 0.5 version. To reproduce it I started with a fresh environment:

[code]

I get the following error:

[code]

I checked the same with using version 0.4.1 and that still works (as before).

[2020-04-23 09:55] mrspacemankey commented on #14
Hi  @dblanchette ,

I can confirm your case works, and even though I don't like `iframes`, it's a simple solution.

I still tried to solve the problem of the CSS clash of scripts. It is possible to modify the default `sphinx` template for the layout of pages [as explained here](https://www.sphinx-doc.org/en/master/templating.html). This way, the additional header can be added to `sphinx`.

However

[2020-04-23 12:38] mrspacemankey commented on #14
Looking at issue #4, it is connected to this. Replacing JS with CSS would fix this problem I think. It's probably a lot of work though.

[2020-04-23 13:57] dblanchette commented on #4
I spent some time investigating the effort needed to remove all javascript and I realized it is a lot. There are a lot of accordion examples without JS, but not really when there are sections within another.

I was thinking of creating another template without the collapsible sections (everything expanded). It would also make it easier to search using the browser search function, and to add anchor

[2020-04-23 13:59] dblanchette commented on #14
Thanks for the additional information!

I just added a comment in #4 about having a version without JS (but also without the collapsible sections).

I'll close this one for now.

[2020-04-23 13:59] #14 closed

[2020-04-23 14:18] dblanchette commented on #15
I was able to reproduce the error using the schema at https://json-schema.org/draft/2019-09/schema. There is a ref that does not start with the pound sign `#`. Can you confirm it is also the case with the schema you are using?

The fix is simple enough, but it means references that does not start with the pound sign won't be retrieved.

[2020-04-23 17:07] #15 closed

[2020-04-23 17:11] dblanchette commented on #15
The problem was simpler than I initially thought. I just forgot to pass down the schema_path for the case where the schema is not an object.

Fix released to pypi in version 0.5.1

[2020-04-24 08:14] castellfr commented on #11
Thanks !

[2020-04-24 09:33] mrspacemankey commented on #4
I think this alternative would be useful. Still, at least a "collapse/expand all" button could still be useful, if easily possible with CSS. Including the HTML in-line in a documentation would benefit from this simple overview.

[2020-04-26 21:36] sw23 opened #20 "Seeing a few issues with the latest updates"
1. Getting a JS error when I inspect via the developer tools console in the browser:
[code]
It appears the JS needs to be `$(document).on('click', 'a[href^="#"]', function(event) {`

2. Accordion expand/collapse broken for suffix with parent that starts with a number (i.e 0). In the code below, parent + property_name should be sent through the escape function:
[code]
Perhaps something like this:
[

[2020-04-27 13:52] dblanchette commented on #20
Thanks for the report, I'll get on this today.

[2020-04-27 19:06] #20 closed

[2020-04-28 04:37] sw23 commented on #20
Thanks!

[2020-05-10 21:36] da1910 opened #24 "Add support for pattern properties"
This is a very useful element of the JSON schema, it allows users to specify that any properties matching some regular expression be allowed.

The work needed to implement this feature is fairly minor, a second check on each element will need to be made, we will also need to add a new visual indicator for the pattern property, and we will need to decide on how to render the regular expression in t

[2020-05-13 18:58] mauvilsa commented on #8
@dblanchette @sw23 this is a very nice project. I am start using it. However almost all the json schemas that I write have recursions, so this issue blocks me from using it. Just wondering if you are working on this or if there is some plan for it.

[2020-05-13 23:57] dblanchette commented on #8
Hi @mauvilsa,

I was able to fix part of the issue.

![chrome_bkMFT4AaQK](https://user-images.githubusercontent.com/5759247/81877640-98680700-9553-11ea-905e-3c57d3cb6c08.png)

From the schema:
[code]

However, this does not work for all schema, here is what I get for another one:
![chrome_Byq5QgHmCl](https://user-images.githubusercontent.com/5759247/81876340-6608da80-9550-11ea-99f3-8e4ead1bb79b.pn

[2020-05-15 06:49] mauvilsa commented on #8
Hi @dblanchette. This partial fix is in master or a branch? No need to release a partial solution, I can try with my schemas cloning the repo. Better to release when there is a more general solution.

[2020-05-15 18:17] dblanchette commented on #8
@mauvilsa You can see PR #26 for a more complete fix.

Both examples from my last comment now works and clicking on the anchor link to the referenced section will make it flash so that users may see what exactly is being referenced.

I invite you to try it out and I would be glad to have your comments on it.

[2020-05-15 18:26] dblanchette commented on #24
Hi @da1910, thanks for your interest in the project!

I'm looking forward to your PR as it will make json-schema-for-humans more complete.

[2020-05-16 09:25] mauvilsa commented on #8
@dblanchette I have tried it with one of the schemas I am currently working on. Running `generate-schema-doc` works well with the recursion. However, the result does not show the details of the recursion item, but guess that the problem is different than the one discussed in this issue. There are other things that don't seem to be correct. In the next few days I will look at it in detail and creat

[2020-05-16 18:24] dblanchette commented on #8
@mauvilsa Thanks for the real life example, it really helps me.

I found some issues:

- The code would only check if the reference is a parent of the current element and not if it was already documented elsewhere. Looking in a global variable for everything already documented fixes that
- There was a bug when checking for the parent where `definitions/block` would be "in" `definitions/blocks` for

[2020-05-19 13:14] dblanchette opened #27 "Support for "if", "then", and "else" keywords (conditional subschemas)"
Doc here: https://json-schema.org/understanding-json-schema/reference/conditionals.html

This could be supported easily by making a tabbed section with the if, then, and else sections as 3 tabs.

[2020-05-20 23:22] #8 closed

[2020-05-20 23:57] dblanchette commented on #8
Released in version 0.10!

[2020-05-21 01:01] dblanchette commented on #8
@mauvilsa Please have a look at #28 to have better support for the schema you provided. I added support for if-then-else keywords and listing required properties.

[2020-05-21 17:08] mauvilsa opened #29 "string pattern interpreted as html tags"
In some cases parts of string pattern get interpreted as html tags which results in not correctly displaying the original pattern. An example of this is the following:
[code]

The generated html displays it as
![Screenshot from 2020-05-21 19-01-48](https://user-images.githubusercontent.com/5780272/82585018-9f1afd80-9b95-11ea-91a0-fddbac9a4088.png)
which is due `<variable...` and `<auto>` becoming

[2020-05-21 17:16] mauvilsa commented on #27
@dblanchette I have tested https://github.com/coveooss/json-schema-for-humans/pull/28 using the schema https://github.com/omni-us/narchi/blob/master/schema/narchi_schema.json and from what I have seen all looks good.

[2020-05-21 17:31] mauvilsa opened #30 "Recursive element details location"
Regarding the new support for recursive definitions (https://github.com/coveooss/json-schema-for-humans/issues/8) I have a proposal that I think could make things slightly more understandable. Currently the details of a recursive element are shown the first time it appears, and all others are links to this first instance. However, the first time a recursive element appears could be deeply nested.

[2020-05-21 21:17] #27 closed

[2020-05-21 21:19] dblanchette commented on #30
I agree and I also don't necessarily like the names used in the link (`blocks_array_items__graph` is not really a description "for humans").

I'll look into solutions in the next iterations.

[2020-05-21 21:32] #29 closed

[2020-05-21 21:33] dblanchette commented on #29
Dumb oversight on my part. Fix released in version 0.11.1

[2020-05-21 22:49] TSheahan opened #32 "Please use the description of a referenced schema"
**Please use the description of a referenced item, if the referring item does not have a description set.**

Having a description on a ref adds vital readability to a rendered schema.

json-schema-for-humans already supports a description in a referring object, i.e.:
`name: { "$ref": "#/definitions/filled_string", description: "render this" }`

[Documentation](https://json-schema.org/understanding

[2020-05-21 22:50] TSheahan commented on #32
Thanks for your attention, and fantastic work releasing the recursion fix, which also helped me out!

[2020-05-22 15:52] dblanchette commented on #32
Hi @TSheahan, I actually consider it a bug, because the current behaviour of json-schema-for-humans is supposed to be to take the description next to $ref if available, fallback to the one in the referenced element.

I looked into it a bit, but it's not very simple to fix with the way it is currently structured. The `resolve_ref` filter does not return the referenced element, just the path to it.

[2020-05-22 17:07] dblanchette opened #33 "Support YAML as source files"
Looking at #32 , it seems some people are using yaml instead of JSON for their schemas.

Since YAML is a superset of JSON, loading using PyYaml all the time would allow this without impacting JSON versions.

[2020-05-22 22:05] TSheahan commented on #33
Confirmed, I've been loading YAML via PyYaml then calling generate_from_schema() on the resulting collection.

This looks like a sensible enhancement for command line users.

[2020-05-23 01:22] #33 closed

[2020-05-23 01:23] dblanchette commented on #33
Thanks for the confirmation :)

Released in version 0.12.0

[2020-05-25 22:24] #30 closed

[2020-05-25 22:24] #32 closed

[2020-05-25 22:27] dblanchette commented on #32
Fix released in version 0.13.0

[2020-05-25 22:30] dblanchette commented on #30
@mauvilsa Fix released in version 0.13.0. I tested with the schema you sent in issue #8 and `graph` is now documented at the top level.

Let me know if you have more ideas, I'm always open to a new challenge :)

[2020-06-02 00:13] TSheahan opened #37 "re-instate calling generate_doc() with provided data of schema"
Thanks for the latest release.

I note that generate_from_schema() no longer uses its 'schema' parameter and instead passes schema_path to build_intermediate_representation().

This change removes the ability to call into generate_from_schema() with a pre-loaded data structure(s) of schemata.

That ability can be re-instated by optionally permitting callers to provide the loaded_schemas dict via g

[2020-06-02 00:27] TSheahan opened #38 "generate_from_filename() does not need to load YAML"
generate_from_filename() does a redundant YAML load of schema_file_name.

The result of the load operation, once passed into generate_from_schema() is discarded without use, due to later introduction of build_intermediate_representation().

The YAML load operation of generate_from_filename() should be factored out.

[2020-06-02 00:28] TSheahan commented on #38
A similar consideration applies to generate_from_file_object()

[2020-06-02 18:42] dblanchette commented on #37
Hi @TSheahan, thanks for this issue and #38 as well.

Version 0.13 did break compatibility on the public methods. Even though this is not version 1 yet, it would have been preferable not to.

I have integrated your patch. I will add some testing and release a new version somewhere this week.

[2020-06-02 18:48] dblanchette opened #39 "Support using a JSON configuration file for options"
The number of CLI parameters is growing and I think it would be easy going forward to use a configuration file instead.

Of course, that file would have a JSON Schema for its format and the documentation for which would be generated using the library itself.

It would also be nice to keep the CLI parameters. We would need a way to set values in the configuration from CLI parameters without each of

[2020-06-07 20:14] dblanchette commented on #37
@TSheahan What do you think of #40 ?

It should address both #38 and this one.

Since there are tests now, it will be less tempting to break compatibility :)

[2020-06-10 15:31] da1910 opened #41 "Complex regex structures in patternProperties lead to duplicate html IDs"
Complex schema with pattern properties are likely to have duplicate html IDs since many regex tokens are replaced with underscores. This causes the generated documentation to be unusable in these cases.

I would suggest that using the pattern is not the best solution to this issue, we render the heading with the title, this would be a more sensible choice. Or indeed to use the parent element's nam

[2020-06-14 19:39] dblanchette commented on #41
@da1910 I went with the enumerator option since there is not always a title associated. Let me know what you think and I will merge and release.

Have a nice day!

[2020-06-14 22:30] KOLANICH commented on #4
<details>
<summary>a</summary>
<details>
<summary>b</summary>
c
</details>
d
</details>

[2020-06-15 15:54] dblanchette opened #43 "HTML IDs for "Read More" and "Read Less" buttons are the same for all buttons"
The HTML Ids for these buttons s always `collapseDescription_` which means all sections are expanded and collapsed together, it can also cause problems when reloading.

[2020-06-15 16:07] #43 closed

[2020-06-15 16:59] da1910 commented on #41
Looks good to me, handles the use-case I have very nicely!

[2020-06-15 17:11] da1910 opened #45 "YAML does not support tabs for indentation"
YAML spec explicitly rules out the use of tabs for indentation, while most JSON parsers will just ignore whitespace.
I would expect the latter behaviour, but because we use YAML as the parser this is not the current behavior.

As two options:
1. We could strip the whitespace out, either ourselves or using a package like JSONminify.
2. We could explicitly replace tabs with spaces.

Id be happy to t

[2020-06-15 17:59] #41 closed

[2020-06-15 18:08] dblanchette commented on #45
How about using `json.load` when the extension of the provided schema file is .json and using `yaml.safe_load` in other cases?

Barring this, I prefer option 2.

Thanks for the report and let me know if you start working on a PR :)

[2020-06-15 18:09] dblanchette commented on #41
Fix released in version 0.15.0.

[2020-06-23 14:00] #45 closed

[2020-06-23 14:06] dblanchette commented on #45
Released in version 0.15.1

[2020-07-01 08:54] cakrt opened #49 "--no-link-to-reused-ref does not work"
Hi, it seems that --no-link-to-reused-ref does not work - I still see the "Same definition as" links even though I enabled this.

I am using python 3.7.8 on Windows 10.

[2020-07-02 17:18] dblanchette commented on #49
HI @cakrt, I broke that option in a refactor for version v0.13.0, sorry about this.

It should now work properly with version 0.15.3.

Don't hesitate to reopen this issue if it does not.

[2020-07-02 17:18] #49 closed

[2020-07-07 13:36] cakrt commented on #49
Perfect. It works as expected. Thanks a lot!

[2020-07-17 13:22] PeterKurucz opened #50 "recursive self referencing"
in case of recursive self referencing like this definition:

		"tree": {
		  "type": "object",
		  "properties": {
			"value": { "type": "string" },
			"branches": {
			  "type": "array",
			  "items": { "$ref": "#/definitions/tree" },
			  "minItems": 1
			}
		  },
		  "required": ["value"]

generation fails with message: RecursionError: maximum recursion depth exceeded.
Maybe self referencing sh

[2020-07-18 01:00] dblanchette commented on #50
Hi @PeterKurucz ,

Are you using the option `--no-link-to-reused-ref`? With this option, there is no checking for recursion, definitions are simply rendered from following the link.

I just updated the README to clarify this point. You may also see #8

Would you consider there is value in having the ability not to reuse definitions except when they are recursive?

[2020-07-18 02:23] dblanchette commented on #4
@KOLANICH Thanks for the tip! I am more a Python developer than a Web developer, so please excuse my ignorance :)

I started working on a "flat" version without JS, it's not very beautiful, but it generates and renders very quickly!

It's in this branch: https://github.com/coveooss/json-schema-for-humans/tree/feature/flat-version. Comments more than welcome :)

[2020-07-19 18:27] #39 closed

[2020-07-19 21:14] #50 closed

[2020-07-19 21:17] dblanchette commented on #50
Hi again,

I just released version 0.19.0 which introduces a detection of recursive definitions.

If you don't like the behavior introduced by `--no-link-to-reused-ref` (now `--config no_link_to_reused_ref`, I had a busy weekend) but still want to be able to run on schemas with recursive definitions without crashing, this is for you!

[2020-07-20 00:03] dblanchette opened #51 "Add table of content"
For big schemas, it would be nice to have a table of content.

It would basically be a lightweight version of the schema without the description and definitions.

Each element would be a link to the actual definition in the schema below.

This feature needs to be optional, activated with a config option.

[2020-07-20 00:05] dblanchette opened #52 "Add path to element"
When browsing a big schema, it would be useful to be able to see the path to the current element in the schema (i.e. where it should actually be when you write your JSON file that complies with the schema)

This should be optional and activated with a config option.

[2020-07-20 00:06] dblanchette opened #53 "Make the collapsible overflow in descriptions optional ("Read more/Read less")"
some users may not like that long descriptions are collapsed by default.

Now that there is a proper config file, this should be easy to make optional.

[2020-07-20 07:54] PeterKurucz commented on #50
Hi Denis,

thanks for your answer.
Yes, switch no-link-to-reused-ref could be a solution, but I think this
option is made for something else.
First I would keep the option no-link-to-reused-ref as present now. No
change.
Second I would show the recursion differently. E.g: In case of
recursive referencing show a special text like: circular reference. A very
old solution named Docson makes it also t

[2020-07-20 14:34] CDuncan95 opened #54 "Add support for additionalProperties"
As well as a boolean value, `additionalProperties` can take an entire schema, to which all additional properties must conform.

I plan to contribute this myself, and have some rough code working, taking inspiration from the PR which implemented the pattern properties support.

I don't intend on adding anything specific for the simple true/false cases, but maybe I should do that at the same time fo

[2020-07-20 15:37] dblanchette opened #55 "Add special text in case of a circular reference"
As a solution to #50 , circular references are now detected and added as a link to the parent element.

However, it might be clearer to indicate a different text than the one used for repeated definitions (`Same definition as x`).

The text could be something like `This is a circular reference to x`

[2020-07-20 15:42] dblanchette commented on #50
@PeterKurucz

I added a detection of circular references in version 0.19.1. since this version, a schema with a circular reference won't crash anymore even with `--config no_link_to_reused_ref`.

For the moment, the message is the same as the one for reference reuse (when using `--config link_to_reused_ref`), so I opened #55 to change the message.

Let me know what you think about #55  or anything

[2020-07-20 15:55] dblanchette commented on #54
Hi @CDuncan95, thanks for your interest in the project.

I'm not sure what's the best way to display them, maybe something like:

- If `false`, add a badge saying "No other properties allowed"
- Otherwise, add a section named "Additional Properties" (in the same way that `patternProperties` is handled)
  - If `true`, the section only says "Type: object" without a description
  - Otherwise, display

[2020-07-21 09:32] CDuncan95 commented on #54
I'm thinking it might be useful to have some text there along the lines of "additional properties can take any type", since just `Type: object` might make someone think it has to be an object, rather than number, string, array etc.

Otherwise that looks like a good plan; the badge would go next to `Type: Object`, I suppose.

[2020-07-21 14:13] dblanchette commented on #54
@CDuncan95 I agree with you for adding a message like "Additional properties can have any type or value". No need for the badge I suppose.

Thanks!

[2020-07-21 21:52] sw23 opened #56 "Error running tox command"
When I run 'tox' I get this error:
[code]

This is on python 3.6.  Any thoughts?

[2020-07-22 00:49] #56 closed

[2020-07-22 00:50] dblanchette commented on #56
Sorry about this, forgot to add `dataclasses` as a dependency for Python 3.6 in tox.ini.

Fixed now in version 0.19.3.

Have a nice day :)

[2020-07-22 13:41] PeterKurucz commented on #50
Hi Denis,

- thanks for your fix! It works no fine, but jump (click on reference)
seems to be not accurate. It doesn't jump to the beginning of HTML section.
Or am I wrong?
- one more possible request: you use anchors to navigate in the HTML
document. It's right, but so it's not possible to navigate back (with back
button in browser) to an index page, where the our subpages are listed.
Would it be

[2020-07-22 14:48] sw23 opened #57 "Problem resolving $ref in some cases"
I'm seeing an issue resolving references in the case where a schema node is created normally (i.e. not from a reference) and then a single property references that node.  In `_resolve_ref`, the code that looks for existing references falls through to the `else` clause below even when 'other_user' is None (the reference wasn't created by another reference user but rather an explicit use).
[code]
So

[2020-07-22 15:47] dblanchette commented on #50
Hi again Peter,

Do you have any examples of a schema that exhibits the bugs in question?

seems to be not accurate. It doesn't jump to the beginning of HTML section.
Or am I wrong?

The code detects circular references. The anchor link will be made to the first seen element when building the documentation. I would be curious to see an example in order to better understand what improvement could b

[2020-07-22 16:14] #57 closed

[2020-07-22 16:18] dblanchette commented on #57
Thanks for taking the time to investigate this and provide steps to reproduce, it's really appreciated!

In this case, there is no `other_user`, so I added a condition that `other_user` exists and is a node that references another (which should be the case since it is in `reference_users_for_this_schema`, but we can never be too cautious). If `other_user` exists, we still want to hide the current

[2020-07-22 16:57] sw23 commented on #57
Thank you!!

[2020-07-24 15:46] #54 closed

[2020-07-25 01:13] kratsg commented on #4
I have an attempt at it with the release on pypi: https://github.com/scikit-hep/pyhf/commit/b615ea6a35b6b1e7343f7d91c602095016d8dae6

Just doing some modifications to the html. One could probably use beautifulsoup to pull out all the relevant pieces, but it would be much easier for all involved to put all the needed css/javascript at the bottom of the body, and then we can just extract the body in

[2020-07-26 20:11] KOLANICH commented on #4
@dblanchette, thank you. Sorry for the delay, I have planned to test it and answer after the test, but was busy enough to forget to test.

It seems like in its current state the tool doesn't use `details` tag.

[2020-07-27 18:59] dblanchette commented on #4
@KOLANICH Do you know a way to make anchor links and the "expand" and "collapse" buttons work with details tag without javascript? The current implementation uses Javascript to iterate through the page and expand sections that need to be. I did not find any equivalent way without using some Javascript.

@kratsg Thanks! I'll look into making an option as soon as I can get a schema that works. Right

[2020-07-29 18:39] shahzebsiddiqui opened #59 "ref key referencing a url invalid directory"
I have schema files hosted in docs https://buildtesters.github.io/schemas/ i found your library interesting for autogenerating json schema docs.

It looks as if this library is validating the json schema before it generates the docs. I get this error

[code]

This schema file https://github.com/buildtesters/schemas/blob/master/script/script-v1.0.schema.json is referencing a public url https:/build

[2020-07-30 15:04] dblanchette commented on #59
Hi @shahzebsiddiqui!

I added support for references to URL. I tested it successfully with the schema you provided.

This has just been released as version 0.21.

Have a nice day :)

[2020-07-30 15:04] #59 closed

[2020-08-01 14:14] ccwienk opened #60 "display type aliases for mixed array items (e.g. anyOf)"
JSON-schema allows the definition of arrays whose items may be of different types (which themself can be again defined in the same schema). Currently, the generated schema browser will merely call them "Option 1", "Option 2", ... and display their resolved schema.

However, it would be more expressive to display the names through which they were defined.

Consider for example (simplified, of cours

[2020-08-03 11:39] KOLANICH commented on #4
https://github.com/coveooss/json-schema-for-humans/issues/4

[2020-08-03 11:42] KOLANICH commented on #4
Unfortunately, if we want to expand by a link we have to fall-back to CSS solution.

Here is one adapted from https://cdpn.io/cristina-silva/fullpage/pyXQrj

[code]

[2020-08-18 18:09] dblanchette commented on #60
Hi and sorry for the delay in answering.

This is something that have been bothering me as well since the beginning. I think just extracting the last part of the ref name (after the last `/`) would be an acceptable solution for most use cases. What do you think?

I will look into it when I have some time. A PR is also welcome.

Have a nice day!

[2020-09-01 18:09] dblanchette commented on #60
@ccwienk A solution to this issue has been released in version 0.22

Here is what the example you provided look like in this version:
![firefox_DqovawEr6t](https://user-images.githubusercontent.com/5759247/91889909-9dfd7000-ec5c-11ea-8c0e-c9f6bf13e533.png)

Don't hesitate if you have comments!

[2020-09-01 18:09] #60 closed

[2020-11-09 15:22] PeterKurucz commented on #50
Hi Denis,

I turn myself to you again. We are still using your tool to generate HTML
files from JSON schemata, and it's very useful!
But a short remark to elements with default attribute.
If I define an element type:string with default value e.eg: "test" that
everything is working fine.
But If I try to refer to an element type:string and I want to define a
default value in using level (ref:....) (

[2020-11-09 23:21] dblanchette commented on #4
I have released the `flat` template with version 0.24.

Just generate with `--config template_name=flat` (or any other way you provide the config).

The template uses no Javascript. It still uses Bootstrap for the CSS at the moment. There are no collapsible sections or tabbed sections, everything is rendered one after the other. I had to do it this way since I could not find a way to make anchor l

[2020-11-09 23:44] dblanchette opened #62 "Elements next to $ref should be merged with the referenced element instead of thrown out"
Currently, if an element has a `$ref` along with other attributes, only `$ref` and `description` are used to generates the documentation.

For example:
[code]

Generates the following:
![chrome_Xc2X32LQet](https://user-images.githubusercontent.com/5759247/98609413-32b6c680-22bb-11eb-8303-70c9ab2168df.png)

But it should generate this:
![chrome_NLyIMZW4fo](https://user-images.githubusercontent.com/

[2020-11-09 23:46] dblanchette commented on #50
@PeterKurucz

If I understand correctly, you have a schema defined like so:

[code]

This will render like so:
![chrome_YuoCeW8wcB](https://user-images.githubusercontent.com/5759247/98608450-36e1e480-22b9-11eb-8afc-0989e6fc7650.png)

But, you would want to see the following:
![chrome_SsJwiwRxos](https://user-images.githubusercontent.com/5759247/98608486-4d883b80-22b9-11eb-8105-377cf047856a.png)

H

[2020-11-10 00:23] #62 closed

[2020-11-10 00:24] dblanchette commented on #62
Fixed in version 0.24.1.

[2020-11-10 08:31] PeterKurucz commented on #50
Hi Denis,

to be sure I give an example:
this is from you:

{
  "$id": "https://example.com/schema.json",
  "$schema": "http://json-schema.org/draft-07/schema#",
  "title": "Test",
  "type": "object",
  "properties": {
    "aProperty": {
      "$ref": "#/definitions/aProperty"
    }
  },
  "definitions": {
    "aProperty": {
      "default": "test default",
      "type": "string"
    }
  }
}

It's

[2020-11-10 14:00] dblanchette commented on #50
@PeterKurucz This is fixed as of version 0.24.1 released yesterday. The 2 examples you sent renders the same.

Thank you for bringing this to my attention :)

[2020-11-10 21:13] PeterKurucz commented on #50
Hi Denis!

thanks for your fast correction!
the following is from your installation manual:

pip install json-schema-for-humans

how can I install a specific version/tag?  Is it possible at all?
Reason: now we have a strange bug and I want to switch back to the previous
version of your tool, to be sure that the problem is located in our code.
I intsall your tool during creation of a docker image.

[2020-11-10 22:23] dblanchette commented on #50
Hi again!

With pip you can use a specific version that way:
`pip install json-schema-for-humans==0.24.0`

Denis

De : PeterKurucz <notifications@github.com>
Envoyé : 10 novembre 2020 16:13
À : coveooss/json-schema-for-humans <json-schema-for-humans@noreply.github.com>
Cc : Denis Blanchette <dblanchette@coveo.com>; State change <state_change@noreply.github.com>
Objet : Re: [coveooss/json-schema-fo

[2020-11-11 09:51] PeterKurucz commented on #50
Hi Denis,

I have bad news. It is possible to generate HTMLs from our json shemata
with Tag version: 0.24.0, but this is not the case with the newest one!
Unfortunately there is no error message in log, just after long processing
time a single message: "Killed"
I would like to send you a detailed error log. Can I switch on a trace or
debug mode?

Thanks!

Bye:
P

Denis Blanchette <notifications@gi

[2020-11-11 19:49] dblanchette commented on #50
@PeterKurucz
You probably don't have any error trace because there is an infinite loop. This is probably caused by a circular reference in your schema (a refers to b, which refers to c, which refers to a).

My earlier fix addressed the issue only partially, for cases where a reference was made to a parent (a refers to a/b which refers to a).

I made a new fix released in 0.24.3 which should hopefu

[2020-11-12 07:30] PeterKurucz commented on #50
Hi Denis,

I have checked out the version 0.24.3 but the result is the same. Infinite
loop -> generation of HTMLs crashed.
Do you have any idea how to fix it?

Bye:
P

Denis Blanchette <notifications@github.com> ezt írta (időpont: 2020. nov.
11., Sze, 20:50):

[2020-11-12 14:26] dblanchette commented on #50
@PeterKurucz To better be able to help you, I would need to have a copy of the JSON schema you are using, or, at least, a simpler version of it that does exhibit the problem.

With yesterday's fix, I am able to generate documentation from a schema with circular references, so I am at a loss at finding more examples where it would not work.

I still want to get to the bottom of this and help you th

[2020-11-13 07:47] PeterKurucz commented on #50
Hi Denis,

thanks for your further investigation. I'm going to deliver the requested
schema but we process a bunch of schemata in a batch. So I don't know
exactly which one is the bad one.
I have to check them out. I will inform you soon.

Bye:
P

Denis Blanchette <notifications@github.com> ezt írta (időpont: 2020. nov.
12., Cs, 15:26):

[2020-11-16 08:57] PeterKurucz commented on #50
Hi Denis,

you can find three json files attached.
equipmentInformation.json is the main one, and catalog.json, common.json
contain the references.
in equimentInformation.json there is a circular referencing calles:
hierarchyScope. It appears in several places in the file.
Generation of HTMLs with 0.24.0 runs without any problem but it doesn't
work with 0.24.3.

Thanks for your investigation!

Bye

[2020-11-16 14:12] dblanchette commented on #50
@PeterKurucz Unfortunately, Email attachments are not added to GitHub issues. Could you add them in the GitHub issue [here ](https://github.com/coveooss/json-schema-for-humans/issues/50) or send them to me at my GitHub username @ coveo dot com.

Thanks!

[2020-11-24 18:54] dblanchette opened #63 "Wrong default value used when several nodes references the same"
Example:
[code]

We get the following:
![chrome_z9kKoM8PSK](https://user-images.githubusercontent.com/5759247/100138825-936a0580-2e5c-11eb-90ea-71e46d4f912f.png)

The default from b is wrong

[2020-11-24 23:17] #63 closed

[2020-12-04 21:28] dblanchette commented on #52
Released in version v0.26

This is on by default, to disable, use `--config no_show_breadcrumbs` (or pass in `show_breadcrumbs=False` to the GenerationConfiguration object)

[2020-12-04 21:28] #52 closed

[2020-12-04 22:02] #53 closed

[2020-12-20 21:34] AdrianGjerstad opened #65 "Examples section spacing issue"
There is a problem when generating elements with examples. The issue has to do with the fact that Bootstrap automatically adds a `1rem` margin below any `pre` HTML tags. This results in example blocks appearing as though they have another line after the end.

The fix I have found is to add a class to the `pre` tags containing the examples that says `m-0` or `mb-0`. This will override Bootstrap's d

[2020-12-24 13:48] ccwienk commented on #60
dear @dblanchette : thank you so much for implementing this - and sorry for my very delayed response :-)

[2021-01-07 22:20] #65 closed

[2021-01-07 22:22] dblanchette commented on #65
Hi @AdrianGjerstad and sorry for the delay!

I deployed a fix in version 0.27.1. I added an override in the custom CSS that sets the margin to 0 for `pre` inside `.examples`.

Have a nice day!

[2021-01-10 23:57] sw23 opened #67 "Running into infinite loop with recursive schema"
I'm running into infinite recursion with a schema that looks like this:

[code]
What I'd expect is for a document that looks something like this:
- relationships
  - mother
    - relationships
      -> mother (link to existing mother section, because reference has been encountered before)

I've poked around the code a bit but haven't been able to get to the bottom of the issue yet

[2021-01-11 00:26] sw23 opened #68 "Consider adding "break-on-newline" to markdown2 options or make configurable"
We have a few schemas that contain "\n" characters in their descriptions for better formatting, so we've found it useful to pass the "break-on-newline" extra to the markdown2 call, such that <br> tags are used to preserve the newlines.

Is this something that'd be good to make a config option?  Alternatively the config file could support passing any of the options, however I'm not sure many others

[2021-01-11 16:38] dblanchette commented on #67
Hi!

Sorry for this, this issue keeps popping up in one form or another every time I think I fixed it for good (and the code gets more and more complex).

I'll take a look soon!

[2021-01-13 19:28] #67 closed

[2021-01-13 20:09] dblanchette commented on #67
Fix released in version v0.27.2

How it works, if you're curious: The first step when rendering a schema is to build the intermediate representation. This is a Python object that represents the input JSON Schema in an easier to exploit format. The Jinja templates then uses that object. This avoids having to code complex logic into the templates, like resolving references and such.

When building t

[2021-01-13 20:10] dblanchette commented on #68
This should probably be the default. In our own usage here at Coveo, we put `<br/>` directly in the templates, but just using a new line would be better.

I'll add the option soon!

[2021-01-15 22:40] #68 closed

[2021-01-15 22:41] dblanchette commented on #68
Released in version 0.28.

[2021-01-16 00:33] dblanchette commented on #68
Released in version 0.29.0, someone else made a PR to make all options configurable, which is better.

[2021-01-23 04:36] sw23 commented on #68
Thank you very much!!

[2021-02-02 05:06] jnothman opened #72 ""Read More" should be in block element"
Currently a collapsible description is rendered as a block element, but the node that follows it, showing "Read More" is an inline `<a>` element:
https://github.com/coveooss/json-schema-for-humans/blob/a8bd40481c084c573c926e16952ef535389a1cd3/json_schema_for_humans/templates/flat/section_description.html#L11

This results in subsequent content appearing on the same line:

![image](https://user-ima

[2021-02-02 16:25] #72 closed

[2021-02-16 22:35] fchastanet commented on #51
I implemented a toc in md schema (see PR https://github.com/coveooss/json-schema-for-humans/pull/76)

[2021-02-18 14:15] sureshkmit opened #77 "Multiline code examples are rendered in single line"
### **Expected:**
<img width="1137" alt="Screen Shot 2021-02-18 at 7 44 32 PM" src="https://user-images.githubusercontent.com/429665/108369583-c0db0b00-7221-11eb-9193-8fa57f45140e.png">

### **Actual:**
<img width="1137" alt="Screen Shot 2021-02-18 at 7 41 46 PM" src="https://user-images.githubusercontent.com/429665/108369633-ccc6cd00-7221-11eb-9bd3-0cdb9a219824.png">

[2021-02-18 14:50] dblanchette commented on #77
Hi @sureshkmit, thanks for the report. Could you share your schema or a relevant section of it that reproduces the issue?

Also, the options you are using (and version if not the latest).

I think this might be related to one of the rendering option.

Thanks

[2021-02-19 22:26] azaroth42 opened #78 "Passing file path to template as template_name"
Thank you for such a great tool!

Question: I am currently abusing the fact that `os.path.join()` will reset if given an absolute path to join, and hence line 1259 where generate calculates the `template_folder` can be tricked into reading from any arbitrary directory.

For example:

reads its template from the current directory/template rather than "js" or "flat".

Is this intentional, and can be

[2021-02-20 04:31] dblanchette commented on #78
Hi! Thanks for the good words.

I can say that this was not intended. However, it would be great to have a CLI option to pass a folder for a custom template in a config file/on the CLI.

I might add an option soon or you can submit a PR to make the behaviour official :)

It's nice to see people using this library, especially in unexpected ways!

Also, if you have an interesting template to submit,

[2021-02-22 16:47] azaroth42 commented on #78
Minimal PR for the changes above. Tests are all green.

The template changes are minimal and also not at all clever. It just pulls in the `title` of a node to sit alongside the name of the property. Then I use the title slot to record the equivalent ontological form. We use [JSON-LD](https://www.w3.org/TR/json-ld11/) to make sure our data is usable as JSON and useful in a broader context.

Tempora

[2021-02-22 18:50] #78 closed

[2021-04-04 18:00] bmaranville commented on #50
The attached schema is a little big, but it shows the same issue.  I am using json-schema-for-humans==0.31.0
[refl1d.schema.zip](https://github.com/coveooss/json-schema-for-humans/files/6255070/refl1d.schema.zip)

Result of running
[code]
is
[code]

[2021-04-05 20:33] hmike96 opened #80 "Trouble using tool"
Hi I am having trouble using the tool. I am using it on the schema attached and it is giving me the output of a single page saying type: Object.

[code]

[2021-04-16 17:41] aelfric commented on #80
You have a set of definitions, but no root type to use them. So for example, if `IArtifactData` is your root type, add `"$ref":"#/definitions/IArtifactData"` to the top of your schema.

[2021-04-16 17:42] aelfric opened #81 "Hiding Fields"
Is there any way to mark some fields in the schema as private so as to hide them from the generated html?

[2021-04-16 17:55] dblanchette commented on #80
Thanks @aelfric for the reply!

I recommend this website for more information on JSON Schema: https://json-schema.org/understanding-json-schema/

[2021-04-16 17:55] #80 closed

[2021-04-16 17:58] dblanchette commented on #81
This is not currently supported.

There is no built-in option for this in JSON schema, but this could be achieved with a special attribute like `_hidden` for example.

Or were you thinking of a different way?

[2021-04-16 18:00] aelfric commented on #81
A special attribute would be fine for my use-case. Would that be difficult to implement?

[2021-04-16 18:05] dblanchette commented on #81
I don't think it would be very hard to do. It would have to be disabled by default. Then, the `is_displayed` property of `SchemaNode` could simply be changed to return False if the configuration calls for hidden fields and the field has a `_hidden` attribute in it.

for example, the following schema would not display the `age` attribute
[code]

Did you want to submit a PR? I could probably take a

[2021-04-19 13:50] virtadan opened #83 "Markdown template producing error"
I'm attempting to use the markdown template and seeing an error about calling `name_for_breadcrumbs` on a list on line 311 of `json_schema_for_humans/md_template.py`.

**Version:** 0.32.0

Here is the command I'm running as well as the stacktrace

[code]

[code]

[2021-04-19 14:32] dblanchette commented on #83
Hi!

Please try version v0.32.1 that I just released and let me know if it fixes it!

[2021-04-19 15:03] virtadan commented on #83
That works! Thanks for the quick response.

[2021-04-19 15:03] #83 closed

[2021-04-19 15:17] dblanchette commented on #77
Closing this as stale. Don't hesitate to open a new issue if you have steps to reproduce.

I think this is caused by not setting `break-on-newline` in the options https://coveooss.github.io/json-schema-for-humans/examples/examples_js_default/Configuration.html#markdown_options

[2021-04-19 15:17] #77 closed

[2021-04-26 18:18] calebhalvy opened #85 "Same definition as link is inside code block"
Currently, in the type info table in the markdown template, definition links are being rendered as code instead of links:

![image](https://user-images.githubusercontent.com/3345329/116131287-d04b5a00-a691-11eb-8f69-0d24d37bf126.png)
https://github.com/coveooss/json-schema-for-humans/blob/master/docs/examples/examples_md_with_badges/recursive_parent_in_definition.md

[2021-04-27 18:25] calebhalvy opened #86 "Tabbed section doesn't show in markdown"
When using anyof, allof, oneof, a tabbed section should show the objects that make up that array. Right now those do not show up. In the `anyOf_option_names` example the array table should be right above 1.1 Property:
![image](https://user-images.githubusercontent.com/3345329/116292955-ede4f600-a75b-11eb-8707-1ea775c02877.png)

[2021-05-03 20:37] #86 closed

[2021-05-05 08:02] KiNgMaR opened #90 "Error Artifact in Generated Docs"
First, thanks a lot for maintaining this!

Now, the question. The following input produces an HTML document that seems to contain an error artifact ("0x7f233bf07ee0"):

![image](https://user-images.githubusercontent.com/438358/117111881-87c62780-ad88-11eb-88b6-cf6dc67ca27a.png)

[code]

The command used to generate is:

[code]

And the environment is a fresh Docker container:

[code]

Any hints on

[2021-05-05 20:55] #90 closed

[2021-05-05 20:56] dblanchette commented on #90
Hi @KiNgMaR !

Version 0.33.1 that was just released should address the issue.

[2021-05-05 20:56] dblanchette commented on #85
Fixed in #89

[2021-05-05 20:56] #85 closed

[2021-05-22 12:24] GuittonHubert opened #91 "Name tabbed sections after a property of an object"
First of all, many thanks for this great tool!

I have the following schema and would like to use the properties.name.const value as the displayed name of the tabs, i.e. "name 1", "name 2", etc.:
[code]
I changed every object to a reference, with the last part of it matching properties.name.const value, but I cannot use reference since the schema is then too complex. I tried to modify the intermed

[2021-05-25 16:10] dblanchette commented on #91
Hi!

Glad that you enjoy the tool :)

You can add a title to the tabs like this:
[code]

You should get something like that:
![chrome_P4jy9kLKRA](https://user-images.githubusercontent.com/5759247/119531679-2b847100-bd52-11eb-8d6c-0a872fe6576b.png)

[2021-05-26 06:39] GuittonHubert commented on #91
Thank you very much for your answer; I tested it successfully! I was not aware that this possibility already existed in your piece of S/W and this is very handy for my use case. Once again thank you for your great tool!

[2021-05-26 08:00] moulinfr opened #92 "Parsing error for loaded schema"
Hello,

I have the following error with version 0.33.1:
'''
  File "XXX\venv\lib\site-packages\json_schema_for_humans\intermediate_representation.py", line 240, in _load_schema
    loaded_schema = loaded_schema[path_part]
TypeError: list indices must be integers or slices, not str
  if isinstance(path_part, str):
          loaded_schema = loaded_schema[path_part]
'''
According to the test in the c

[2021-05-26 15:43] dblanchette commented on #92
Hi!

The issue should now be fixed in version 0.33.2.

Thanks for the report :)

[2021-05-26 15:44] dblanchette commented on #91
Glad that it worked, have a nice day :)

[2021-05-26 15:44] #91 closed

[2021-06-28 16:35] moulinfr opened #94 "Wrong specific value for constant tuples"
Hello,

I have the following valid JSON schema:
[code]
I am expecting to have an HTML page with "One Of" and two tabs: "1st constant" and "2nd constant", plus:

- 1st tab:
[code]
- 2nd tab:
[code]
But instead, "Specific value" is always set to "null".

Your help would be greatly appreciated. Thanks.

[2021-07-09 19:34] dblanchette commented on #94
Hi @moulinfr ,

Thanks for bringing the issue to my attention. The code was not handling correctly having a `const` value not being a simple int, str or bool.

Fixed in version 0.34.1 that just released to pypi.

Have a nice day!

[2021-07-09 19:35] #94 closed

[2021-07-09 19:36] dblanchette commented on #4
Closed for inactivity and because a solution was implemented (even if not as good as I would wish). Feel free to build a better template if you still need this!

[2021-07-09 19:36] #4 closed

[2021-08-06 14:52] da1910 opened #97 "Unhelpful error message when providing a non-existent output directory"
In the process of porting a CI script to a new platform I mistakenly changed an output file so that it pointed to a non-existent directory.  This results in an error message claiming that generate-schema-docs cannot find a CSS file, it would be better ifwe either either:

1. Handle this case by creating the directory, like `mkdir -p`
2. Correctly report up-front that the output directory does not

[2021-08-16 15:57] dblanchette commented on #97
Hi! I'd be happy with solution number 2.

[2021-08-23 16:16] nicolaszubo opened #99 "Markdown templates don't support if keyboards with more than 2 layers."
When I try to generate documentation with an if object 2-3 layers deep, it fails with Markdown and mc_nested mode and succeeds on js of flat.

[code]
Output:
[code]

[2021-08-26 15:59] Briggybros opened #101 "Wrong specific value for integer 0"
[code]

Will output:

[code]

Expected:

[code]

[2021-09-06 20:56] #97 closed

[2021-09-15 13:36] yigitsoy opened #102 "Support generating documentation from a directory of schemas"
Thanks for providing this great tool! It is very easy to use.

We have a use case where we have a directory of schemas referencing each other (a file for common definitions and other files (possibly in sub-directories) reference the common definitions and also each other).

It would be great if the CLI tool supports a directory as input from which a single documentation is created. Currently, we h

[2021-09-20 17:27] #101 closed

[2021-09-20 17:28] dblanchette commented on #101
Thanks for reporting. Should be fixed in 0.34.3.

[2021-09-21 11:36] Seb-C opened #103 "minify: false does not work"
Thank you for this package, it is very helpful.

I have an issue with the minification. I want to disable it, but it is still enabled.

Since I have to commit the generated file for github-pages, the minification is making my git history useless and unreadable. It would be way better without the minification.

I am using the version `0.34.2`.

I tried all kinds of syntax in my config file: `minify

[2021-09-21 15:05] dblanchette commented on #103
Hi, glad you like the tool.

The issue should be fixed in version 0.34.4

[2021-09-21 15:45] Seb-C commented on #103
Wow, that was fast. Thanks :smile:

[2021-09-27 17:34] dblanchette commented on #99
Hi and sorry for the delay.

This is a limitation with the current implementation of the Markdown template. Having too many levels of properties make the result hard to read in Markdown, so it is meant for simpler schemas.

I'm pretty sure we could add a few levels, but I do not have time for big changes in this repository for now, limiting myself to simpler bugfixes.

I cannot say when I will hav

[2021-10-12 17:26] alexlea commented on #102
Great tool! We have a very similar use case to above that would be solved by this. We have a number of common definitions and would like them to appear as top level type definitions rather than be embedded in the first element that uses them.

For example: we have an address type. Would be great if this could appear at the root level and then these root level "types" appear in a table of contents

[2021-10-12 17:29] dblanchette opened #108 "Show definitions at the top level instead of inclusing in the first element that uses them"
From a comment on #102:

For example: we have an address type. Would be great if this could appear at the root level and then these root level "types" appear in a table of contents style list.

[2021-10-18 11:51] modularTaco opened #110 "Order of required properties is not consistent"
Hi,

i use jsfh as pre-commit hook to automatically create documents for some schemas.
But even if the schema has not changed, the pre-commit hook fails each time because the order of the required properties differs at each run.

E.g. first run `git diff`:

[code]

second run `git diff`:

[code]

So maybe they could be ordered alphabetically or using the same order as they're defined in in the sch

[2021-10-19 17:03] dblanchette commented on #110
That's weird, I'll take a look when I have some time. Thanks for the report!

[2021-10-19 18:12] #110 closed, assigned to dblanchette

[2021-10-24 21:31] stevespringett opened #113 "Unable to use custom template with 0.37"
I have a custom template - based on the js template but heavily modified.

With 0.35.x and 0.36.x, I was able to specify the path to the custom template just fine. However, with 0.37, the custom template cannot be found.

The console output is:
[code]

Reverting back to 0.36.1 works fine.

[2021-10-24 23:55] dblanchette commented on #113
Hi @stevespringett, version 0.37.1 should work.

It reverts using an enum for "template_name" which I suppose would have been the issue here.

Hope this fixes it, if not don't hesitate to reopen.

[2021-10-24 23:55] #113 closed

[2021-10-26 22:01] kylebarron opened #114 "Allow other template names for custom templates"
Unsure whether this should be considered a bug or not. I wanted to explore modifying the markdown template. I copied the template files into `docs/template/*.md`. I ran

[code]

and saw this error:

[code]

I assume this comes from this Enum allowing only specified values:

https://github.com/coveooss/json-schema-for-humans/blob/851d6f6838d4e36b1fc519f46359efb9c6ffdb04/json_schema_for_humans/const

[2021-10-27 18:11] #114 closed, assigned to nobody

[2021-10-28 23:09] ghost opened #115 "Examples by reference"
It would be desirable to enable the use of the $ref keyword in the "examples" keyword array. This would allow examples to be built up using other examples rather than copying the entire examples JSON.

[2021-11-04 20:57] ebadmail opened #116 "Missing info in the documentation"
I tried this excellent app, but I couldn't know how to make a markdown document instead of an HTML file.  I had to read the code to know which config option I should choose.  Which is "template_name" in my case. I think it's better to think about a way to present the app features in a more realistic way.

[2021-11-11 12:04] adamcunnington-mlg opened #117 "Allow the list of allowed extensions for finding schema files to be provided as CLI option"
Currently, I cannot use this package because the expected extensions for schema files is hardcoded.

I am using Google Cloud deployment manager to define my templates and it requires that I give the files a .schema extension. This is incompatible with json-schema-for-humans - please can you allow the extension to be provided as a CLI option?

[2021-11-11 14:30] adamcunnington-mlg commented on #117
Or a faster short term solution... can we just change the glob patterns [here](https://github.com/coveooss/json-schema-for-humans/blob/master/json_schema_for_humans/schema/schema_importer.py#L18) to have a trailing `*`, e.g.:
[code]

[2021-11-11 14:31] dblanchette commented on #117
Sure, I'll make it configurable

[2021-11-11 14:43] dblanchette commented on #117
@adamcunnington-mlg How about naking it so that the provided path can be the following:
- A path to a single JSON file
- A path to a directory (in which case all .json, .yaml, and .yml files are used there)
- A glob pattern

i.e.:
[code]

This would not change the existing behaviour and would be simple to use (if a little surprising)

[2021-11-11 14:44] adamcunnington-mlg commented on #117
@dblanchette thanks. Also I think your current glob pattern implementation is too restrictive. It's quite common to have paths like this:
.yaml.jinja
.yaml.jinja.schema

**/*.yaml* (as I suggested above) won't work on its own. It would need a * before the .yaml too. So when you make this configurable, perhaps you make the entire file extension path configurable.

EDIT: I think your suggestion is s

[2021-11-11 14:47] adamcunnington-mlg commented on #117
@dblanchette by the way, if you are about to raise a PR, can you also a fix a really tiny but irritating rendering issue with the HTML footer?

I can't work out what is wrong with the [code](https://github.com/coveooss/json-schema-for-humans/blob/master/json_schema_for_humans/templates/js/base.html#L35) but for some reason, there's no space between the "json-schema-for-humans" link and the word "o

[2021-11-11 15:34] adamcunnington-mlg commented on #117
@dblanchette finally, and let me know if you want to consider this a separate feature request, but it is connected - when you glob for schema files, i think it's common that you want the output to match the same directory structure.

E.g. if I find foo/bar.schema and foo/baz/xyz.schema and I provide an output path of docs/, I want the output structure to match; e.g. /docs/bar.html and /docs/xyz.ht

[2021-11-11 15:53] dblanchette commented on #117
Version 0.39 (just released) contains the change allowing to pass a glob pattern as input.

Working on the rest

[2021-11-11 15:59] dblanchette commented on #117
For the missing space in the footer:

Normally, `-%}` in jinja should remove the whitespace after it, so the code should not work. Weirdly it does leave the space when I run it. Anyway, I removed the `-` in version 0.39.1.

Let me know if that fixes it for you.

[2021-11-11 16:05] dblanchette opened #118 "Mirror input schema dir structure for result files"
from #117

@dblanchette finally, and let me know if you want to consider this a separate feature request, but it is connected - when you glob for schema files, i think it's common that you want the output to match the same directory structure.

E.g. if I find foo/bar.schema and foo/baz/xyz.schema and I provide an output path of docs/, I want the output structure to match; e.g. /docs/bar.html and /

[2021-11-11 16:06] dblanchette commented on #117
For the mirroring, I created #118. It's something I did feel bad not doing in my last refactor, but I don't have time for it right now. Let me know if you want to start a PR :)

[2021-11-11 16:06] #117 closed

[2021-11-11 16:16] adamcunnington-mlg commented on #118
Thanks. Critical typo from me in description (although hopefully the ask is still clear):
E.g. if I find foo/bar.schema and foo/baz/xyz.schema and I provide an output path of docs/, I want the output structure to match; e.g. /docs/bar.html and /docs/**baz/**xyz.html

[2021-11-11 16:20] dblanchette commented on #118
I did understood it like that indeed.

Dir structure:
[code]
Input glob: `foo/*.schema`
Output dir: `docs`
output dir structure:
[code]

Correct?

[2021-11-11 17:07] adamcunnington-mlg commented on #118
Yep, bang on.

[2021-11-29 15:47] yigitsoy commented on #102
Hi @dblanchette,

Thanks for implementing this feature. I just tried it and can verify that it works as you described it.

It would be great if this feature can be extended with

- an option for creating a a single index html file that have input schemas from the input directory as tabs
- (maybe) option for creating the output names using the input hierarchy (i.e. /a/b/c.json --> a.b.c.html, /a/d/

[2021-12-07 10:50] QuentinVaucherLeanIX opened #120 "readOnly is not displayed"
Flagging a property as readOnly is not reflected by the HTML file. I would expect, e.g., a red tag either next to `Type` and `Default` or next to `Required` to indicate that this property may not be updated.

[2021-12-18 11:20] mt-krainski opened #121 "Issues when using custom markdown templates"
Hey,

I tried using a custom markdown template, pretty much starting off a copy of your `md` template. I copied the files to a local directory and when generating the documentation I added the config parameter `--config custom_template_path=templates/md/base.md`, which is a relative path to the copied template files.

This resulted in the following traceback

[code]

I think I managed to track dow

[2021-12-22 23:11] CraigKelly opened #122 "Recursive Detection Failing"
I don't know if I've found a regression or an additional recursion, but I'm seeing a recursion depth exceed error.

Using a venv with Python 3.9.5:

[code]

Then I run this command:

[code]

Where `config.json` contains:

[code]

And `Bug.json` contains

[code]

The last few lines of the error are:

[code]

I've attached the complete output.

[2021-12-22 23:11] CraigKelly commented on #122
[capture.txt](https://github.com/coveooss/json-schema-for-humans/files/7765658/capture.txt)

[2021-12-23 16:46] CraigKelly commented on #122
One additional detail: changing `Bug.json` to this workaround version gets past the bug (although it is an admittedly ugly hack)...

[code]

[2021-12-28 21:43] dblanchette commented on #122
Thanks for the detailed report. This should be fixed as of version 0.39.3 (just published). Feel free to reopen if not.

Happy holidays!

[2021-12-28 21:43] #122 closed

[2021-12-29 22:57] stevespringett commented on #81
I was able to hack this together without much effort. In my case, I use custom templates and I wanted to hide all properties that started with a '$'. Therefore, I simply modified `content.html` and towards the end of the file, it reads:

[code]

[2021-12-30 00:55] stevespringett opened #123 "no_link_to_reused_ref results in some HTML tabs in JS template not working"
Executing with the `no_link_to_reused_ref` config option, some UI elements do not work as expected.

[code]

I'm using the following test schema:
[code]
Note: `jsf-0.82.schema.json` can be found here:
https://github.com/CycloneDX/specification/blob/v1.4-dev/schema/jsf-0.82.schema.json - Copy it locally to test.

In the following example, objectA works as expected, objectB does not.

![Kapture 2021

[2022-01-03 23:04] dblanchette commented on #123
Hi, I am unable to reproduce the issue and have a fix. Unfortunately, the fix breaks generation when there are recursive references. I should be able to have a complete fix later this week.

[2022-01-03 23:05] stevespringett commented on #123
Nice - thanks for the response and all the hard work on this project.

[2022-01-04 16:30] #123 closed

[2022-01-04 16:41] dblanchette commented on #123
Should be fixed in 0.39.5.

I hope this is the last time there is a recursivity problem (famous last words)

[2022-01-04 17:25] stevespringett commented on #123
Confirmed it's working. Thanks so much for the fix.

[2022-01-07 16:22] JKarlavige opened #125 "Add Viewport Meta tag to generated pages"
Google Search Console flags pages due to a missing viewport. Adding the viewport meta tag to the auto-generated pages will clean up the errors noted in GSC.

[2022-01-12 10:06] fabaff opened #127 "Support for later PyYAML"
The current constraint [`PyYAML = "^5.4.1"`](https://github.com/coveooss/json-schema-for-humans/blob/main/pyproject.toml#L34) doesn't allow to use the latest PyYAML releases.

Would be nice if PyYAML > 6 could be supported. Especially useful for distribution which are shipping `json-schema-for-humans` as package and people who are using it in a `venv` with other modules.

[2022-01-12 22:38] #127 closed

[2022-01-12 22:49] dblanchette commented on #127
Should be all good in version 0.40

[2022-01-15 19:00] mrjk commented on #115
Hey, I would be interested by this feature as well :) Thanks for your work btw !

[2022-01-18 04:32] shore-yong opened #128 "slow access to Google Fonts"
some external resources can be really slow on our side, could they be cached locally when `--copy-css` is enabled?

[2022-01-24 12:58] krisso-ice opened #129 "Option to generate just ONE HTML/MD from multiple schema.json files"
It would be really nice to have just ONE output file from multiple input files.
In case of HTML it could be event more - to embed JS/CSS directly in HTML file so that whole result is just ONE single file.

[2022-02-14 03:53] xsampedro opened #130 "Option to output property format"
Given:

`  "EventTimestamp": {
      "type": "string",
      "format": "date-time"
    },`

It would be useful to be able to output the format next to the type.

[2022-02-24 15:05] dblanchette commented on #130
Hi @xsampedro , I'm not sure I understand the request, could you give more info?

[2022-02-27 16:40] xsampedro commented on #130
HI @dblanchette, I'm sorry for not being clear, and thanks for coming back to me. :)

I would like to have the property **format**, `date-time` in this example, in the HTML/markdown JSON Schema for Humans produces.

Maybe that is already possible?

[2022-03-14 10:21] Azureuse opened #131 "Extended schemas not displaying correctly"
Firstly, I love this tool. Creates such great documentation with so little effort.

I think I've stumbled onto a slight bug / edge case where the output isn't what I would expect. I have a situation where I have a number of variants on a type of object. I want to define the schema for the common parts once and then reference that, only defining unique behaviour within each object.

The json-schema

[2022-03-18 08:48] brutus333 commented on #128
+1

[2022-03-18 13:51] dblanchette commented on #131
Hi! Thanks for the detailed issue.

`unevaludatedProperties` is new to draft 2019-09 which was not out when I started this library.

To be fully transparent, I don't know when I'll have the time and motivation to work on this as I have to do it on evenings and weekends.

I'm always willing to accept PRs.

[2022-03-25 17:43] dexterduck opened #132 "Restrict "Additional Properties" markdown field to object schemas"
Currently the default markdown templates show the "Additional Properties" field for every schema/subschema, even though `additionalProperties` is only valid for `object` schemas.

Since this adds a fair amount of clutter to generated files, it would be great if it were possible to make displaying the field conditional on `object` being a valid type for the schema.

[2022-03-27 15:45] carlsmedstad opened #133 "Building and installing the package with Poetry excludes schemas/"
Hey :wave:

I'm in the process of packaging and publishing this on the Arch User Repository and I've encountered an issue. It seems the directory `json_schema_for_humans/schema/` is not included in the package as per these lines in `pyproject.toml`:

[code]

When building and installing my WIP package (see PKGBUILD below) I'm getting the following exception:

[code]

PKGBUILD:

[code]

Thanks!

[2022-04-05 19:07] #133 closed

[2022-05-02 22:36] GlenNicholls commented on #14
So I ran into this along with the other linked issue as I am also looking to include schema documentation in our Sphinx docs. Based on the previous note:

I noticed in #4 that there is now `--config template_name=flat`, is there a way to use that HTML/CSS to avoid iframe?

[2022-05-12 11:28] Dzordzu commented on #130
Created a PR. Below you can see effects

![image](https://user-images.githubusercontent.com/17514622/168064722-c6ae1ee0-aeb8-4cbc-ad8a-7aad860007e7.png)

[2022-05-12 13:55] Dzordzu commented on #130
@dblanchette Also the readme should be fixed https://github.com/coveooss/json-schema-for-humans/blob/main/README.md?plain=1#L137-L138

[2022-05-17 17:12] #130 closed

[2022-05-17 17:26] dblanchette commented on #132
Hi @dexterduck, sorry for taking so long to reply.

Currently `No Additional Properties` is displayed when the keyword `properties` or `patternProperties` is used and `additionalProperties` is false (it must be set explicitely to false)

Or as code:
[code]

[code]

Do you have a schema example that exhibits the unwanted behavior?

Maybe a switch to disable the `No Additional Properties` badge alto

[2022-05-17 18:00] dexterduck commented on #132
Hey, thanks for the reply!

I'm using version `0.40.5` with Python `3.9.10`.

If I process the following schema:
[code]

Using this script:
[code]

I get this output:

---

# Test

**Title:** Test

| Type                      | `integer`                                                                                                           |
| ------------------------- | ------------------------

[2022-05-18 21:26] GlenNicholls opened #138 "Documentation for deprecation is incorrect"
Based on the [docs](https://coveooss.github.io/json-schema-for-humans/#/Examples?id=deprecation-notice), it states that if a description **contains** the string `[Deprecated`, it will add a red badge (assuming the correct flag is enabled.) This is actually incorrect, after playing around with it for a bit, I found it only works when the description starts with that string. Plus, the docs also use

[2022-05-19 16:00] #132 closed

[2022-05-19 16:19] #138 closed

[2022-05-19 16:19] dblanchette commented on #138
I decided to fix the tool to behave like the docs instead of changing the doc. Released in version 0.41.1

[2022-05-19 16:52] GlenNicholls commented on #138
@dblanchette For clarity, does it just search for the string `[Deprecated` or `[Deprecated]`?

[2022-05-19 17:27] dblanchette commented on #138
It searches for `[Deprecated`. It's because you can have `[Deprecated]` or, for example, `[Deprecated - use other_property]`

[2022-05-27 08:39] sgomezvillamor commented on #118
Hi! I'm facing this limitation too.

Is there any plan on having this in the near future? Would PRs be accepted? Haven't check the code, any easy estimation on how complex this could be?

@adamcunnington-mlg You mention to traverse the directory structure and run the tool from each directory while building the output directories too as workaround. What about links between json schemas in different

[2022-07-06 21:11] tobiasBora opened #141 "Problem when program is installed on read-only partition"
First, thanks a lot for this super cool tool.

In Nix/NixOs, the programs are installed on a read-only partition to ensure files are not modified, but because of that the generated files (js/css) are also read-only, which causes troubles when running `generate-schema-doc` twice as it can't remove the file.

The workaround is actually simple, just replace `shutil.copy` with `shutil.copyfile` (that

[2022-07-06 23:34] tobiasBora opened #143 "Can't show long examples by default"
Thanks a lot for this great software.

If an example is too long, it is always hidden by default. It would be cool to be able to show even long examples by default. I created a PR for that.

[2022-07-07 13:21] tobiasBora opened #145 "dependentRequired is not handled by this library"
Now, `dependencies` has been split into `dependentRequired` and `dependentSchemas` and can't be used anymore. As far as I can tell, this library does not document this, it would be great to have that as well!

[2022-07-12 15:31] #141 closed

[2022-07-12 17:59] carlsmedstad opened #146 "Version in pyproject.toml is wrong"
The version in pyproject.toml is wrong:

[code]

Is this not the version that is used when building the PyPI package?

It might be a good idea to implement something like https://pypi.org/project/poetry-dynamic-versioning/ to not have to manually bump the version.

[2022-07-13 11:43] jackpap opened #147 "Feature Request - expanded allOf"
In the generated doc, it would be nice that the allOf do not show up as such, but as a composed schema which is a concatenation of all the schemas in the allOf. This would hide the "allOf" from the reader of the documentation for whom allOf is not important since this is simply a syntax of the schema but not required in the json document being validated. Is this already a feature? If not would it

[2022-07-14 21:08] dblanchette commented on #146
Hi! It's a good idea, i'll take a look when I have the chance.

[2022-07-15 08:34] jonapich commented on #146
We are already using semi-automatic versioning using https://github.com/coveooss/pypi-publish-with-poetry -- Minors and majors are bumped manually, but patches increment automatically.

While it does publish an updated `pyproject.toml` to `pypi`, it doesn't commit it back to the repo. I added an issue over there to track that feature.

[2022-08-08 16:55] btiernay opened #148 "Allow support for empty property names"
Currently if an object property name is `""`, then the library generates an error:
[code]

Changing to a non-empty string value fixes the issue.

[2022-08-11 12:37] sim642 opened #149 "Spurious ellipsis in YAML examples"
If the schema contains examples like
[code]
and they're rendered as YAML (`examples_as_yaml: true`), then the resulting JS output displays them as

The ellipses (`...`) at the end of each example are spurious and confusing.

[2022-08-11 20:14] #148 closed

[2022-08-11 20:15] dblanchette commented on #148
Fixed in version 0.41.7

[2022-08-11 20:36] #149 closed

[2022-08-11 20:38] dblanchette commented on #149
Fixed in v0.41.8.

Thanks for the report!

[2022-08-12 11:51] btiernay commented on #148
Thank you! 🙇

[2022-08-12 14:43] dejstheman opened #152 "Properties are not rendered by template when there is only one condition in allOf or anyOf"
https://github.com/coveooss/json-schema-for-humans/blob/main/json_schema_for_humans/templates/js/content.html#L45-L49

[code]

In `templates/js/content.html` we have these conditions to handle when there is only one condition in the schema but that also means because of the `else` it means that we dont render the properties at all.

[2022-08-16 16:17] dblanchette commented on #152
I did not think that you could have `allOf`/`anyOf` and properties, but it seems perfectly legal.

I see three paths:
1. Remove the feature (`allOf` and `anyOf` will generate a single tab if it contains one element)
2. Merge when loading the schema (before it gets to the template)
e.g.
[code]
becomes
[code]
(well, the SchemaNode object for it)
3. Handle it in the template

I am tempted by option 1

[2022-08-23 15:46] DrYak opened #153 "Feature Request - Expanded by default with then immediate auto-collapse upon loading"
Thanks for the terrific software, that has been a huge lifesaver for [generating exhaustive manuals for our software](https://github.com/cbg-ethz/V-pipe/blob/master/config/).

There's a small problem that is bothering me:
display service [htmlpreview](https://htmlpreview.github.io/) has a bug and cannot serve JS properly. JS gets disabled due to MIME type (“text/plain”) mismatch (X-Content-Type-Op

[2022-08-28 20:34] gregsdennis opened #154 "JSON Schema implementations page"
Hello!  Would you like to be on the [JSON Schema implementations page](https://json-schema.org/implementations.html)?  This seems like a neat tool to have listed there!

Feel free to create a PR if you want to be added ([example](https://github.com/json-schema-org/json-schema-org.github.io/pull/460)).

[2022-08-28 21:09] danywu opened #155 "`$ref` support, with relative paths for `$id`."
I have a bunch of schemas that use relative paths for `$id`s, e.g. `/components/0.1/crs`, being referenced in `/elements/0.1/points`, and so on. There's a folder structure that reflects those paths in the `$id`s. These schemas will be "deployed" to various environments, e.g. dev, staging, etc. I would like to keep the `$id`s relative for flexibility.

In the documentation, I could not find a way o

[2022-08-31 09:11] alainsanguinetti opened #156 "Feature request - optional display of all $defs / definitions"
Hi,

Thanks for the great tool!

I was wondering if it would be appropriate to add an option that allows displaying the used references and their names in a separate part of the schema, à la OpenAPI that displays also the defined types, and their constructs.

Maybe the option can be made generic to process all defined keys at the root of the document instead of only the "properties" ?

What do you

[2022-09-09 11:21] fpgmaas opened #157 "MarkupSafe is a transitive dependency"
I applied [deptry](https://fpgmaas.github.io/deptry/) to this repository, and it found one dependency issue:

[code]

`Markup` from `markupsafe` is imported, but it's not a direct dependency of the project. It's a dependency of `Jinja2`. It would be a good idea to explicitly add `MarkUpSafe` to the list of project dependencies.

Disclaimer: I am the author of `deptry`, so I'm applying it to this p

[2022-09-13 08:46] mislavzanic opened #159 "examples_as_yaml flag not detected when using md_nested template_name"
Hello 😄. I've noticed that examples are rendered only as json, when using `md_nested` `template_name` field despite setting `example_as_yaml: true`. Is this wanted behaviour or a bug?

[2022-09-19 22:52] gregsdennis opened #160 "Support for more recent JSON Schema versions"
Currently this project supports up to draft 7, which was released March 2018.  Since then, two new versions have been release: 2019-09 (which probably should be skipped) and 2020-12 (which definitely should be supported).

What help would be needed to update this project to support the latest versions of JSON Schema?

[2022-10-05 16:22] gerrycampion opened #165 "Information missing in circular refs"
Here is an example json schema with a circular ref:

[code]

I generate the schema html using js template and no other options.
When I generate the schema html, I don't see any information about the original anchor node that is referenced. Note for example, there is no way to see the "I am a leaf" const. Here is a screenshot of the fully expanded html doc:

![image](https://user-images.githubuserc

[2022-10-11 17:44] dblanchette commented on #154
Hi!

I see json-schema-for-humans [is already listed](https://github.com/json-schema-org/json-schema-org.github.io/blob/d4659c140c5daa29fcf2cfdeeeb6b64980bfb110/implementations.md?plain=1#L318).

Thanks anyway, it is appreciated!

[2022-10-11 17:44] #154 closed

[2022-10-12 19:33] #152 closed

[2022-10-12 19:35] dblanchette commented on #157
Fixed by merging #158

[2022-10-12 19:35] #157 closed

[2022-10-12 19:37] dblanchette commented on #152
I went with option 2, released in version 0.42.1. Thanks for the report!

[2022-10-18 20:55] dblanchette commented on #160
Hi!

I'm sorry for not maintaining and evolving the project much recently.

I read the changelogs for [2019-09](https://json-schema.org/draft/2019-09/release-notes.html) and [2020-12](https://json-schema.org/draft/2020-12/release-notes.html) and I think there are some quick wins.

The idea would be to support the old and new keywords interchangeably, even if that means accepting schemas that are n

[2022-10-18 20:58] dblanchette commented on #156
I think it's a great idea that would make reading the schema more logical. An example in our use case are properties that can be defined under several environment names (`dev`, `qa`, etc.) In that case, all definitions link to the first environment in alphabetical order, which is kind of misleading (it's like it would be saying that `qa` behaves like `dev`).

I'm not making any promises for an imp

[2022-10-24 23:53] rogueturnip commented on #160
Thumbs up on this work.  I'm using the $refs, $defs, contains and items values from 2020-12 and it would be really good to have those supported.

[2022-10-25 20:46] gregsdennis commented on #160
Our experience is that it's hit or miss.  It seems that most attempt to, but a lot that do don't do it right (either over-specify, like having `$id: #/$defs/foo`, or just get it wrong entirely).

---

Some additional notes:

First, I might not bother with 2019-09.  We're trying to steer people away from it and just use 2020-12.  Specifically the `$recursive*` keywords weren't specified well; the `

[2022-10-26 00:11] rogueturnip commented on #160
Could you do the version detection in 2 ways.  If the $id is value process appropriately, if not fail out with an "invalid version" type message.  In those cases an individual can then use a command line flag --schema or so and put in draft7, 2020-12 etc and it does the same thing.  if the wrong schema is put in on the command line results will vary ;).

I feel if you are looking to generate using

[2022-10-26 20:02] alexeagle opened #168 "Deterministic output"
Currently the output contains a timestamp, so even given identical inputs, the output is changed.

https://github.com/coveooss/json-schema-for-humans/blob/4fcc97c5ab91be17f7051983edaaccd133b5917b/docs/generate_examples.py#L164 indicates this was already a problem for testing the tool, but the solution there is specific to testing.

My use case is under Bazel (https://bazel.build) which relies on d

[2022-10-26 20:29] alexeagle commented on #168
ah, I found https://coveooss.github.io/json-schema-for-humans/examples/examples_js_default/Configuration.html#footer_show_time

[2022-10-26 20:29] #168 closed

[2022-10-27 15:21] pspot2 opened #169 "Schema composition ('allOf') is always rendered first irrespective of where it is defined in the schema"
Hi,

thanks for this wonderful tool. This is the best open-source schema documentation generator I've stumbled upon so far. It does many things right and the Markdown output and the templating layer are fantastic. However, as the schema size scales, the tool reveals several issues that need improvement. I hope I will be able to contribute myself, but first the issues need to be raised and confirme

[2022-10-27 16:13] pspot2 opened #170 "Badges are not displayed for properties in subschemas which are part of schema composition ('allOf')"
Please refer to examples in issue #169.

Expectation: `test_propertyA` and `test_propertyB` have the `Required` badge as they are marked as required in their respective 'then' branch of the 'allOf' schema composition. E.g.:

#### ![Required](https://img.shields.io/badge/Required-blue) Property `root > allOf > item 0 > then > test_propertyA`
#### ![Required](https://img.shields.io/badge/Required-bl

[2022-10-27 17:23] pspot2 opened #171 "Documentation for main properties is not rendered if the schema contains referenced composition part ('allOf')"
Consider the following two schemas (`schema_test1.json` references `schema_test2.json`):

<details>
<summary>schema_test1.json</summary>

[code]

</details>

<details>
<summary>schema_test2.json</summary>

[code]

</details>

The first schema defines two fixed properties: `test_property01` and `test_property02`. It also attaches the second schema by the means of `allOf` composition. The second sch

[2022-10-27 22:21] pspot2 opened #172 "Incorrect display of the "additionalProperties" flag of a referenced schema"
Consider the following two schemas (`schema_test1.json` references `schema_test2.json`):

<details>
<summary>schema_test1.json</summary>

[code]

</details>

<details>
<summary>schema_test2.json</summary>

[code]

</details>

The first schema defines two properties: `test_property01` and `test_property02`. The second property is an object that is defined in the second schema which is referenced fr

[2022-10-27 23:06] pspot2 opened #173 "Properties that are propagated to subschemas attached by composition should not be displayed"
Consider the following schema:

<details>
<summary>Click to expand</summary>

[code]

</details>

This schema defines one fixed property (`test_property01`) and then another property using conditional schema composition. The additional property depends on the value of `test_property01`:

- if `test_property01 = "myvalue1"`, then the additional property `test_propertyA` is added
- if `test_property

[2022-10-27 23:16] pspot2 commented on #155
@danywu  are you already using this feature for validation, e.g. are you already using a validator where you can set the base URI externally and you would like to re-use the same schema files both for validation and for documentation generation?

If not, then the only way would be to set it statically in the `$id` of the top-level schema to something universal that would be present in all envs (fo

[2022-10-27 23:23] pspot2 commented on #147
@jackpap do you have a schematic example of how this should look like?

`allOf` can contain `if-then` conditional branches, therefore the concatenation of its schemas doesn't make much sense in this case.

[2022-10-27 23:53] pspot2 opened #174 "Breadcrumbs are not informative with 'allOf' if-then-else conditional subschemas"
Breadcrumbs is a fantastic feature and a life-saver in big schemas. However, they badly fulfil their purpose with conditional schema composition.

For example, consider the following breadcrumb:

#### Property `root > allOf > item 0 > then > myproperty_a`

In this shape it doesn't clearly tell me which branch (with which condition) I am looking at. All it tells me is that this is a property in a b

[2022-11-08 00:32] chrono commented on #172
I think this is a bug with the markdown renderer. I'm just encountering this after switching renderers.

[2022-11-08 19:51] chrono commented on #172
This also manifests in the fixtures:
https://github.com/coveooss/json-schema-for-humans/blob/9ced1e2a71eea858e1b9c49273828dfc2ffebeaf/docs/examples/examples_flat_default/references.html#L108-L136

vs

https://github.com/coveooss/json-schema-for-humans/blob/9ced1e2a71eea858e1b9c49273828dfc2ffebeaf/docs/examples/examples_md_default/references.md?plain=1#L67-L73

[2022-11-09 14:27] dblanchette commented on #169
Thanks for all the reports.

Displaying allOf and the properties (as long as other type of blocks) in the order they appear would be difficult with the way the code is currently built. I have an idea to change that, but I'm not sure when I'll have/take time to work on something more than short/easy bugfixes.

An easy change would be to display properties first, I think it would be better than the

[2022-11-09 17:29] #172 closed

[2022-11-09 21:48] pspot2 commented on #169
Yes, definitely. Even this initial fix would have a major impact on readability.